{% extends "main/header.html" %}

{% block content %}
        
<br>

  <div class="col s12 m7">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p class="flow-text">Hey all, I'm Richard and I'm currently working towards a career in Data Science and Services. 
          I graduated from Galvanize's Data Science Immersive in November 2019 and have passed the AWS Certified Machine Learning Specialty.
           Ever since becoming licensed, I've been working on freelance and personal projects using cloud services (AWS, Azure) 
           and bringing machine learning applications to life using Python frameworks such as Flask and Django. 
           <br><br>
           I'm a constant learner and I'm always testing out new tools and techniques. Some of the more interesting services I've worked with is AWS Kinesis and Kinesis Data Analytics for real-time streaming data.
           <br><br>
           Hopefully my portfolio can give you a 
           better idea of how I can contribute to your needs or your team!</p>
      </div>
    </div>
  </div><br>

<div class="col s12 m7">
  <div class="card horizontal blue-grey darken-1">
    <div class="card-image">
      {% load static %}
      <img src={% static "images/toby.jpeg" %}>
    </div>
    <div class="card-stacked">
      <div class="card-content white-text" style="font-size:20;">
        <p class="flow-text">When I am not waiting for my ML training jobs to finish or sifting through my Apache2 error logs, I'm usually hanging out with this guy!</p>
      </div>
      <div class="card-action">
        <a href="https://www.instagram.com/tobyzeusthecorgi">Check out my dog's instagram!</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
