{% extends "main/header.html" %}

{% block content %}
<div class='text' style="font-size:20;">
    <p>Thanks for visiting my portfolio website! <br> This website was built using the Django framework and deployed with AWS EC2 and Apache.</p>
        
    <p>Feel free to contact me via the methods below!</p>
</div>

<div class="collection">
    <a href="mailto: richard129chan@gmail.com" class="collection-item">Email</a>
    <a href="https://www.LinkedIn.com/in/chanrl" class="collection-item">LinkedIn</a>
    <a href="https://www.github.com/chanrl" class="collection-item">GitHub</a>
  </div>

{% endblock %}