<nav>
    <div class="nav-wrapper" style="margin-left:25; margin-right:50">
      <a href="/" class="brand-logo" style="font-family:monospace;">richardchan.io</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><strong>Home</strong></a></li>
        <li><a href="/about"><strong>About</strong></a></li>
        <!-- <li><a href="https://www.github.com/chanrl">{% load static %}<img src="{% static 'images/github.jpg' %}" height="42" width="42"></a></li> -->
      </ul>
    </div>
  </nav>

    <!-- {% load static %} 
  <img src="{% static 'images/test.png' %}"/> -->